# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [165]:
import pandas as pd
import numpy as np
np.random.seed(1489)

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

In [166]:
df.reset_index(drop=True, inplace=True)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P,C
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P,A
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P,D
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F,F

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [167]:
info_dfs = [pd.read_csv(f"Students_info_{i}.csv", sep=",", index_col=0) for i in range(10)]
marks_dfs = [pd.read_csv(f"Students_marks_{i}.csv", sep=",", index_col=0) for i in range(10)]

info_combined = pd.concat(info_dfs)
marks_combined = pd.concat(marks_dfs)

df = info_combined.join(marks_combined)

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

#### Задание 3. Выведите на экран размеры полученной таблицы

In [168]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [169]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [170]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [171]:
mean_scores = df[["math score", "reading score", "writing score"]].mean()
print(mean_scores.to_string())

math score       66.089
reading score    69.169
writing score    68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [172]:
print("Проходившие курс:")
completed_course_means = df[df['test preparation course'] == 'completed'][["math score", "reading score", "writing score"]].mean()
print(completed_course_means.to_string(), "\n")

print("Не проходившие курс:")
none_course_means = df[df['test preparation course'] == 'none'][["math score", "reading score", "writing score"]].mean()
print(none_course_means.to_string())

Проходившие курс:
math score       69.695531
reading score    73.893855
writing score    74.418994

Не проходившие курс:
math score       64.077882
reading score    66.534268
writing score    64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [173]:
print(df.lunch.unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [174]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace = True)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

**Зафиксируем минимальный балл для сдачи экзамена**

In [175]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [176]:
passed_math = (df['math score'] >= passmark).mean()
print("Доля сдавших математику:", passed_math)

passed_math_after_course = (df['math score'] >= passmark) & (df['test preparation'] == "completed")
print("Доля прошедших курс и сдавших математику:", passed_math_after_course.mean())

female_failed_math_no_course = df[(df['math score'] < passmark) & (df['test preparation'] == "none") & (df["gender"] == "female")]
female_no_course = df[(df['test preparation'] == "none") & (df["gender"] == "female")]
print("Доля не проходивших курс и не сдавших математику:", round(female_failed_math_no_course.shape[0] / female_no_course.shape[0], 4))

Доля сдавших математику: 0.865
Доля прошедших курс и сдавших математику: 0.33
Доля не проходивших курс и не сдавших математику: 0.2096

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [177]:
%timeit -r 5 -n 1000 reading_mean_by_race = df.groupby("race/ethnicity")["reading score"].mean()
#Пробежимся много раз чтобы была меньше погрешность
#Зачем так много, спросите вы?!
#Потому что arm архетектура делает брррррррр
reading_mean_by_race = df.groupby("race/ethnicity")["reading score"].mean()
print(reading_mean_by_race, "\n")

%timeit -r 5 -n 1000 writing_min_by_education = df.groupby("education")["writing score"].min()
writing_min_by_education = df.groupby("education")["writing score"].min()
print(writing_min_by_education)

195 µs ± 25 µs per loop (mean ± std. dev. of 5 runs, 1,000 loops each)
race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

170 µs ± 637 ns per loop (mean ± std. dev. of 5 runs, 1,000 loops each)
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [178]:
def calculate_scores(df):

    scores = {
        race: {'reading_sum': 0, 'writing_min': float('inf'), 'count': 0}
        for race in df["race/ethnicity"].unique()
    }
    
    for index, row in df.iterrows():
        race = row['race/ethnicity']
        scores[race]['reading_sum'] += row["reading score"]
        scores[race]['writing_min'] = min(row["writing score"], scores[race]['writing_min'])
        scores[race]['count'] += 1

    result = {}
    for race, data in scores.items():
        result[race] = {
            'reading_mean': data['reading_sum'] / data['count'],
            'writing_min': data['writing_min']
        }
        
    return result

%timeit -r 5 -n 100 calculate_scores(df)
#Опять же для точности

results = calculate_scores(df)
for race, data in results.items():
    print(f"Race/Ethnicity: {race}")
    print(f"Average Reading Score: {round(data['reading_mean'],2)}")
    print(f"Minimum Writing Score: {data['writing_min']}\n")

23 ms ± 2.25 ms per loop (mean ± std. dev. of 5 runs, 100 loops each)
Race/Ethnicity: group B
Average Reading Score: 67.35
Minimum Writing Score: 15

Race/Ethnicity: group C
Average Reading Score: 69.1
Minimum Writing Score: 10

Race/Ethnicity: group A
Average Reading Score: 64.67
Minimum Writing Score: 19

Race/Ethnicity: group D
Average Reading Score: 70.03
Minimum Writing Score: 32

Race/Ethnicity: group E
Average Reading Score: 73.03
Minimum Writing Score: 22

Когда мы использовали собственную функцию с циклами для обработки данных, она выполнялась в среднем 21.2 миллисекунды. Это довольно медленно по сравнению с другими методами.
Стандартные функции Pandas для группировки данных и вычисления статистик оказались намного быстрее – они выполнялись примерно за 163-170 микросекунд. Это показывает, что использование встроенных функций Pandas значительно повышает скорость обработки данных.

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [179]:
pd.pivot_table(data=df,index=['gender', 'education'], values=['math score', 'reading score', 'writing score'], aggfunc = np.mean)

/var/folders/mq/zd1phr397ln068kvyvnxrdhc0000gn/T/ipykernel_41927/868433957.py:1: FutureWarning: The provided callable <function mean at 0x1069ba0c0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(data=df,index=['gender', 'education'], values=['math score', 'reading score', 'writing score'], aggfunc = np.mean)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [180]:
def calculate(df, subjects, passmark):
    pass_status = {}
    for subject in subjects:
        
        score_field = f"{subject.lower()} score"
        pass_field = f"{subject}_PassStatus"
        df[pass_field] = ["P" if score >= passmark else "F" for score in df[score_field]]
        passed = df[pass_field].value_counts().get("P", 0)
        failed = df[pass_field].value_counts().get("F", 0)
        pass_status[subject] = {"Passed": passed, "Failed": failed}
    return pass_status


subjects = ["Math", "Reading", "Writing"]
pass_status = calculate(df, subjects, passmark)
#Зачем писать функцию когда вызываем 1 раз, хз красивааааааа
for subject, status in pass_status.items():
    print(f"Сдавших {subject.lower()}: {status['Passed']}, не сдавших: {status['Failed']}")

Сдавших math: 865, не сдавших: 135
Сдавших reading: 910, не сдавших: 90
Сдавших writing: 886, не сдавших: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [181]:
df["OverAll_PassStatus"] = np.where((df['Math_PassStatus'] == "P") & (df['Reading_PassStatus'] == "P") & (df['Writing_PassStatus'] == "P"), "P", "F")
print("Количество легенд которые сдели всё:")
df[df["OverAll_PassStatus"] == "P"].shape[0]

Количество легенд которые сдели всё:

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [182]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return "A"
    elif average_mark >= 80:
        return "B"
    elif average_mark >= 70:
        return "C"
    elif average_mark >= 60:
        return "D"
    elif average_mark >= 50:
        return "E"
    else:
        return "F"

df["Grade"] = df.apply(lambda row: GetGrade((row['math score'] + row['reading score'] + row['writing score']) / 3), axis=1)

grade_counts = df['Grade'].value_counts().reindex(["A", "B", "C", "D", "E", "F"], fill_value=0)

for grade, count in grade_counts.items():
    print(f"Оценку {grade} получило {count} студентов")

Оценку A получило 52 студентов
Оценку B получило 146 студентов
Оценку C получило 261 студентов
Оценку D получило 256 студентов
Оценку E получило 182 студентов
Оценку F получило 103 студентов